<div class="w-50 vh-100 container d-flex justify-content-center flex-row py-5">
  <div class="container-left w-40 h-100">
    <div class="image-container position-relative h-100">
      <img src="/assets/images/bg-sidebar-desktop.svg" alt="background" />

      <div class="text-overlay w-auto d-flex justify-content-center align-items-center gap-0">
        <h5
          class="w-35px h-35px d-flex align-items-center justify-content-center border border-white rounded-circle"
          [ngClass]="formStep === 1 ? 'bg-active text-dark-blue' : 'bg-transparent text-white'"
        >
          1
        </h5>
        <div class="d-flex flex-column ms-3">
          <p class="text-white text-uppercase small m-0">step 1</p>
          <p class="text-white text-uppercase fs-6">Your Info</p>
        </div>
      </div>

      <div class="text-overlay w-auto d-flex justify-content-center align-items-center gap-0">
        <h5
          class="w-35px h-35px d-flex align-items-center justify-content-center border border-white rounded-circle"
          [ngClass]="formStep === 2 ? 'bg-active text-dark-blue' : 'bg-transparent text-white'"
        >
          2
        </h5>
        <div class="d-flex flex-column ms-3">
          <p class="text-white text-uppercase small m-0">step 2</p>
          <p class="text-white text-uppercase fs-6">Select Plan</p>
        </div>
      </div>

      <div class="text-overlay w-auto d-flex justify-content-center align-items-center gap-0">
        <h5
          class="w-35px h-35px d-flex align-items-center justify-content-center border border-white rounded-circle"
          [ngClass]="formStep === 3 ? 'bg-active text-dark-blue' : 'bg-transparent text-white'"
        >
          3
        </h5>
        <div class="d-flex flex-column ms-3">
          <p class="text-white text-uppercase small m-0">step 3</p>
          <p class="text-white text-uppercase fs-6">Add-ons</p>
        </div>
      </div>

      <div class="text-overlay w-auto d-flex justify-content-center align-items-center gap-0">
        <h5
          class="w-35px h-35px d-flex align-items-center justify-content-center border border-white rounded-circle"
          [ngClass]="formStep === 4 ? 'bg-active text-dark-blue' : 'bg-transparent text-white'"
        >
          4
        </h5>
        <div class="d-flex flex-column ms-3">
          <p class="text-white text-uppercase small m-0">step 4</p>
          <p class="text-white text-uppercase fs-6">Summary</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container-right w-75 h-100 py-5 ps-5">
    <form #clientForm="ngForm" (ngSubmit)="onSubmit(clientForm)" class="h-100">
      <div *ngIf="formStep === 4" class="h-100 d-flex justify-content-center flex-column">

        <div class="pb-2">
          <h3 class="fw-bold text-dark-blue">Personal info</h3>
          <p class="small text-dark-blue">please provide your name, email address and phone number.</p>
        </div>

        <div class="d-flex flex-column w-90">
          <label for="name" class="pb-2">Name</label>
          <input type="text" id="name" name="name" placeholder="e.g. Evan Fong" [(ngModel)]="clientInfo.name" required class="p-2 border-0">

          <label for="name" class="pb-2 pt-4">Email Address</label>
          <input type="text" id="email" name="email" placeholder="e.g. evanfong@can.com" [(ngModel)]="clientInfo.email" required class="p-2 border-0">

          <label for="name" class="pb-2 pt-4">Phone Number</label>
          <input type="text" id="phone" name="phone" placeholder="e.g. +1 234 567 8900" [(ngModel)]="clientInfo.phoneNum" required class="p-2 border-0">
        </div>

        <div class="mt-auto align-self-end">
          <button type="button" class="btn btn-custom text-white" (click)="nextStep(clientForm)">Next Step</button>
        </div>

      </div>

      <div *ngIf="formStep === 2" class="h-100 d-flex justify-content-center flex-column">
        
        <div class="pb-2">
          <h3 class="fw-bold text-dark-blue">Select your plan</h3>
          <p class="small text-dark-blue">You have the option of monthly or yearly billing.</p>
        </div>

        <div class="d-flex flex-row w-100">
          
          <!-- Monthly Plan -->
          <div class="w-100 d-flex align-items-center flex-row"
          *ngIf="!planSwitch">

            <div class="d-flex flex-column justify-content-around w-140p h-160p ps-3 plan-hover"
            [ngClass]="{ 'plan-border' : selectedPlan === 'Arcade' }"
            (click)="clientSelectedPlan('Arcade', 9)">
              <div>
                <img src="/assets/images/icon-arcade.svg" alt="arcade" />
              </div>
              <div>
                <p class="h6">Arcade</p>
                <p>$9/mo</p>
              </div>
            </div>

            <div class="d-flex flex-column justify-content-around w-140p h-160p ps-3 ms-3 plan-hover"
            [ngClass]="{ 'plan-border' : selectedPlan === 'Advanced' }"
            (click)="clientSelectedPlan('Advanced', 12)">
              <div>
                <img src="/assets/images/icon-advanced.svg" alt="advanced" />
              </div>
              <div>
                <p class="h6">Advanced</p>
                <p>$12/mo</p>
              </div>
            </div>

            <div class="d-flex flex-column justify-content-around w-140p h-160p ps-3 ms-3 plan-hover"
            [ngClass]="{ 'plan-border' : selectedPlan === 'Pro' }"
            (click)="clientSelectedPlan('Pro', 15)">
              <div>
                <img src="/assets/images/icon-pro.svg" alt="pro" />
              </div>
              <div>
                <p class="h6">Pro</p>
                <p>$15/mo</p>
              </div>
            </div>

          </div>

          <!-- Yearly Plan -->
          <div class="w-100 d-flex align-items-center flex-row"
          *ngIf="planSwitch">

            <div class="d-flex flex-column justify-content-around w-140p h-160p ps-3 plan-hover"
            [ngClass]="{ 'plan-border' : selectedPlan === 'Arcade' }"
            (click)="clientSelectedPlan('Arcade', 90)">
              <div>
                <img src="/assets/images/icon-arcade.svg" alt="arcade" />
              </div>
              <div>
                <p class="h6">Arcade</p>
                <p class="mb-0">$90/yr</p>
                <p>2 months free</p>
              </div>
            </div>

            <div class="d-flex flex-column justify-content-around w-140p h-160p ps-3 ms-3 plan-hover"
            [ngClass]="{ 'plan-border' : selectedPlan === 'Advanced' }"
            (click)="clientSelectedPlan('Advanced', 120)">
              <div>
                <img src="/assets/images/icon-advanced.svg" alt="advanced" />
              </div>
              <div>
                <p class="h6">Advanced</p>
                <p class="mb-0">$120/yr</p>
                <p>2 months free</p>
              </div>
            </div>

            <div class="d-flex flex-column justify-content-around w-140p h-160p ps-3 ms-3 plan-hover"
            [ngClass]="{ 'plan-border' : selectedPlan === 'Pro' }"
            (click)="clientSelectedPlan('Pro', 150)">
              <div>
                <img src="/assets/images/icon-pro.svg" alt="pro" />
              </div>
              <div>
                <p class="h6">Pro</p>
                <p class="mb-0">$150/yr</p>
                <p>2 months free</p>
              </div>
            </div>

          </div>

        </div>

        <div class="d-flex flex-row justify-content-center align-items-center w-80 h-40p text-center mt-5">
          <div>
            <p class="h6 me-3">Monthly</p>
          </div>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" (change)="planSwitchBtn($event)">
            </div>
          <div>
            <p class="h6 ms-3">Yearly</p>
          </div>
        </div>

        <div class="mt-auto d-flex justify-content-between">
          <div class="">
            <button type="button" class="btn text-dark-blue" (click)="lastStep(clientForm)">Go Back</button>
          </div>
  
          <div class="">
            <button type="button" class="btn btn-custom text-white" (click)="nextStep(clientForm)">Next Step</button>
          </div>
        </div>

      </div>

      <div *ngIf="formStep === 3" class="h-100 d-flex justify-content-center flex-column">
        
        <div class="pb-2">
          <h3 class="fw-bold text-dark-blue">Pick add-ons</h3>
          <p class="small text-dark-blue">Add-ons help enhance your gaming experience.</p>
        </div>

        <div class="d-flex flex-column w-100">
          
          <div class="d-flex flex-row align-items-center add-ons mb-3"
          [ngClass]="{'addons-border' : selectedAddOns.includes('Online service')}"
          (click)="clientSelectedAddOns('Online service')"
          >
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="check1" name="option1" [checked]="selectedAddOns.includes('Online service')">
            </div>
            <div class="d-flex flex-column justify-content-center">
              <p class="h6">Online service</p>
              <p class="mb-0">Access to multiplayer games</p>
            </div>
            <div class="ms-auto">
              <p class="h6">+{{ addOnPrice('Online service') }}/{{ planSwitch ? 'yr' : 'mo' }}</p>
            </div>
          </div>
          
          <div class="d-flex flex-row align-items-center add-ons mb-3"
          [ngClass]="{'addons-border' : selectedAddOns.includes('Larger storage')}"
          (click)="clientSelectedAddOns('Larger storage')"
          >
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="check1" name="option1" [checked]="selectedAddOns.includes('Larger storage')">
            </div>
            <div class="d-flex flex-column justify-content-center">
              <p class="h6">Larger storage</p>
              <p class="mb-0">Extra 1 TB of cloud save</p>
            </div>
            <div class="ms-auto">
              <p class="h6">+{{ addOnPrice('Larger storage') }}/{{ planSwitch ? 'yr' : 'mo' }}</p>
            </div>
          </div>

          <div class="d-flex flex-row align-items-center add-ons"
          [ngClass]="{'addons-border' : selectedAddOns.includes('Customizable profile')}"
          (click)="clientSelectedAddOns('Customizable profile')"
          >
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="check1" name="option1" [checked]="selectedAddOns.includes('Customizable profile')">
            </div>
            <div class="d-flex flex-column justify-content-center">
              <p class="h6">Customizable profile</p>
              <p class="mb-0">Custom theme on your profile</p>
            </div>
            <div class="ms-auto">
              <p class="h6">+{{ addOnPrice('Customizable profile') }}/{{ planSwitch ? 'yr' : 'mo' }}</p>
            </div>
          </div>

        </div>

        <div class="mt-auto d-flex justify-content-between">
          <div class="">
            <button type="button" class="btn text-dark-blue" (click)="lastStep(clientForm)">Go Back</button>
          </div>
  
          <div class="">
            <button type="button" class="btn btn-custom text-white" (click)="nextStep(clientForm)">Next Step</button>
          </div>
        </div>

      </div>

      <div *ngIf="formStep === 1" class="h-100 d-flex justify-content-center flex-column">
        
        <div class="pb-2">
          <h3 class="fw-bold text-dark-blue">Finishing up</h3>
          <p class="small text-dark-blue">Double check everything looks OK before confirming.</p>
        </div>

        <div class="d-flex flex-column w-100">

          <div class="d-flex justify-content-between align-items-start">
            <div>
              <p class="h6 fw-bold text-dark-blue">{{ selectedPlan | titlecase }} ({{ planSwitch ? 'Yearly' : 'Monthly' }})</p>
              <button class="btn text-purple" (click)="formStep = 2">Change</button>
            </div>
            <div>
              ${{ selectedPlanPrice }}/{{ planSwitch ? 'yr' : 'mo' }}
            </div>
          </div>

          <div class="w-full">

            <div *ngFor="let addOn of selectedAddOns">
              <span class="h6 fw-bold text-dark-blue">{{ addOn }}</span>
              <span>+${{ addOnPrice(addOn) }}/{{ planSwitch ? 'yr' : 'mo' }}</span>
            </div>

            <div *ngIf="selectedAddOns.length === 0">
              No add-ons selected
            </div>

          </div>
        </div>

        <div class="mt-auto d-flex justify-content-between">
          <div class="">
            <button type="button" class="btn text-dark-blue" (click)="lastStep(clientForm)">Go Back</button>
          </div>
  
          <div class="">
            <button type="button" class="btn btn-custom text-white" (click)="nextStep(clientForm)">Next Step</button>
          </div>
        </div>

      </div>

      <div *ngIf="formStep === 5" class="h-100 d-flex justify-content-center flex-column"></div>

    </form>
  </div>
</div>

<router-outlet></router-outlet>
