/* You can add global styles to this file, and also import other style files */
:root {
    --blue-950: hsl(213, 96%, 18%);
    --purple-600: hsl(243, 100%, 62%);
    --blue-300: hsl(228, 100%, 84%);
    --blue-200: hsl(206, 94%, 87%);
    --red-500: hsl(354, 84%, 57%);
}

.text-dark-blue {
  color: var(--blue-950) !important;
}

.text-white {
  color: var(--blue-300) !important;
}

.text-purple {
  color: var(--purple-600) !important; 
}

.bg-active {
  background-color: var(--blue-200) !important;
}

.input-border {
  border: none;
}

.input-border:hover {
  border: 1px solid var(--purple-600) !important;
  border-radius: 8px;
}

.input-border:focus {
  border: 1px solid var(--purple-600) !important;
  border-radius: 8px;
  outline: none;
}

.input-danger {
  border: 1px solid #dc3545 !important;
  border-radius: 8px;
  outline: none;
}

.btn.btn-custom {
  background-color: var(--blue-950) !important;
}

.btn.btn-custom:hover {
  background-color: var(--purple-600) !important;
}

.screen-width {
  width: 50%;
}

.banner-width {
  width: 40%;
}

.btn-margin-l-r {
  --bs-btn-padding-x: 0 !important;
  --bs-btn-padding-y: 0 !important;
}

.plan-border {
  border: 1px solid var(--purple-600);
  border-radius: 8px;
}

.addons-border {
  border: 1px solid var(--purple-600);
  border-radius: 8px;
}

.image-container {
  position: relative;
}

.text-overlay {
  gap: 2rem !important;
}

.h6 {
  margin-bottom: 0 !important;
}

.p {
  margin-bottom: 0 !important;
}

.w-plan-custom {
  width: 140px;
}

.w-90 {
  width: 90%;
}

.h-40p {
  height: 40px;
}

.h-plan-custom {
  height: 160px;
}

.desktop-height {
  height: 100% !important;
}

.plan-hover {
  cursor: pointer;
}

.plan-hover:hover {
  border: 1px solid var(--purple-600);
  border-radius: 8px;
}

.form-desktop-height {
  height: 100% !important;
}

.form-switch .form-check-input {
  width: 4em !important;
  height: 2em;
  background-color: var(--blue-950);
  border: none;
  --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
  background-image: var(--bs-form-switch-bg);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: contain;
}

.form-switch .form-check-input:not(:checked) {
  --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
  background-image: var(--bs-form-switch-bg);
}

.form-switch .form-check-input:checked {
  background-color: var(--blue-950);
  background-position: right center;
}

.span {
  width: 4em !important;
  height: 2em;
}

.add-ons {
  padding: 12px 10px 12px 10px;
}

.btn-change-plan {
  text-decoration: none;
  color: var(--purple-600);
}

.btn-change-plan:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .screen-width {
    width: 100%;
  }

  .banner-width {
    width: 100% !important;
  }

  .banner-height {
    height: 50vh !important;
  }

  .img-custom {
    width: 100%;
  }

  .img-position-top {
    top: 20% !important;
  }

  .text-overlay:nth-of-type(1) {
    top: 0.5rem !important;
  }

  .position-inherit {
    position: inherit !important;
  }

  .mobile-form {
    top: -5rem !important;
    z-index: 9999;
    background-color: white;
    padding: 30px 30px 0 30px;
    border-radius: 10px;
  }

  .form-mobile-height {
    height: 75vh !important;
  }

  // step 2 mobile
  .form-mobile-height {
    height: 100vh !important;
  }

  .w-plan-custom {
    width: 100% !important;
  }

  .h-plan-custom {
    height: 130px;
  }

  .planbox-margin-bottom {
    margin-bottom: 10px;
  }

  .plan-padding-top {
    padding-top: 30px;
  }

  .plan-content {
    padding-left: 16px;
  }

  // step 3 mobile
  .addon-padding {
    padding: 20px 10px 20px 10px;
  }

  // step 5 mobile {
  .finish-padding-top {
    padding-top: 58px;
  }
}