/* You can add global styles to this file, and also import other style files */
:root {
    --blue-950: hsl(213, 96%, 18%);
    --purple-600: hsl(243, 100%, 62%);
    --blue-300: hsl(228, 100%, 84%);
    --blue-200: hsl(206, 94%, 87%);
    --red-500: hsl(354, 84%, 57%);
}

.text-dark-blue {
  color: var(--blue-950) !important;
}

.text-white {
  color: var(--blue-300) !important;
}

.bg-active {
  background-color: var(--blue-200) !important;
}

.btn.btn-custom {
  background-color: var(--blue-950) !important;
}

.image-container {
  position: relative;
}

.text-overlay {
  position: absolute;
  top: 20px; /* Adjust as needed */
  left: 20px; /* Adjust as needed */
  padding: 0 0 0 2rem;
}

.w-55 {
  width: 55%;
}
