/* You can add global styles to this file, and also import other style files */

.image-container {
  position: relative;
}

.text-overlay {
  position: absolute;
  top: 20px; /* Adjust as needed */
  left: 20px; /* Adjust as needed */
}
